body {
  background-color: #fff;
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  margin: 0 auto;
  width: 80%;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  background-color: #000;
  padding: 1.4rem;
  border-radius: 0.5rem;
}

h1 {
  color: #fff;
  font-size: 2rem;
  text-transform: capitalize;
}

.header__title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__title p {
  color: #fff;
  text-transform: capitalize;
  padding-right: 1rem;
}

.instagram__icon {
  border-radius: 0.6rem;
  padding: 0.2rem;
  transition: all 0.4s ease-out;
}

.instagram__icon:hover {
  background-color: #ffffff50;
}

.main__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.slider {
  width: 52%;
  height: 100%;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 100%;
  display: flex;
  transition: all 0.6s ease-out;
}

.slide {
  width: 20%;
}

.slide img {
  width: 100%;
  height: 100%;
  border-radius: 2%;
}

.input {
  width: 0;
  height: 0;
}

.navigation__section {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 1rem;
}

.description__wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.description {
  width: 500%;
  height: 100%;
  display: flex;
  transition: all 0.6s ease-out;
}

.image__description {
  width: 20%;
  display: flex;
  align-items: center;
}

.image__description p {
  font-size: 1.5rem;
  display: block;
  width: 100%;
}

.navigation {
  width: 10rem;
  display: flex;
  justify-content: space-between;
}

.navigation__element {
  height: 2rem;
  width: 2rem;
  border: 0.5rem solid #fff;
  background-color: #000;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.4s ease-out;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation__element:hover {
  background-color: #0000005d;
 }

.navigation__span {
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  
}

/* magic for slides */
#slide1:checked ~ .slides {
  transform: translateX(0);
}

#slide2:checked ~ .slides {
  transform: translateX(-20%);
}

#slide3:checked ~ .slides {
  transform: translateX(-40%);
}

#slide4:checked ~ .slides {
  transform: translateX(-60%);
}

#slide5:checked ~ .slides {
  transform: translateX(-80%);
}

/* magic for description */
#slide1:checked ~ .navigation__section .description {
  transform: translateX(0);
}

#slide2:checked ~ .navigation__section .description {
  transform: translateX(-20%);
}

#slide3:checked ~  .navigation__section .description {
  transform: translateX(-40%);
}

#slide4:checked ~ .navigation__section .description {
  transform: translateX(-60%);
}

#slide5:checked ~ .navigation__section .description {
  transform: translateX(-80%);
}

/* magic for controls */
#slide1:checked ~ .navigation__section .navigation__element:nth-of-type(1) .navigation__span {
  background-color: #fff;
}

#slide2:checked ~ .navigation__section .navigation__element:nth-of-type(2) .navigation__span {
  background-color: #fff;
}

#slide3:checked ~  .navigation__section .navigation__element:nth-of-type(3) .navigation__span {
  background-color: #fff;
}

#slide4:checked ~ .navigation__section .navigation__element:nth-of-type(4) .navigation__span {
  background-color: #fff;
}

#slide5:checked ~ .navigation__section .navigation__element:nth-of-type(5) .navigation__span {
  background-color: #fff;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #000;
  padding: 1.4rem;
  border-radius: 0.5rem;
  margin-top: 1.4rem;
}

.footer__container a, h2 {
  color: #fff;
  text-transform: capitalize;
  transition: all 0.4s ease-out;
}

.footer__container h2 {
  padding: 0 1rem;
}

.footer__container a:hover {
  color: #ffffffa4;
}

.footer__container a:last-child {
  text-align: right;
}

@media (max-width: 768px) {
  body {
    font-size: 1.2rem;
  }

  h1 {
    font-size: 1.4rem;
  }

  .navigation__section {
    flex-direction: column-reverse;
  }

  .slider {
    width: 80%;
  }
}

@media (max-width: 425px) {
  body {
    font-size: 1rem;
  }

  h1 {
    font-size: 1.1rem;
  }

  .slider {
    width: 90%;
  }

}